@import "tailwindcss";

@layer base {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  sm {
    font-size: 14px;
  }
}

@theme {
  --color-primary: rgb(82 251 237);
  --color-secondary: rgb(254, 255, 244);
  --color-ternary: rgb(33, 62, 59);
  --color-support1: rgb(23, 246, 218);
  --color-support2: rgb(255, 208, 140);
  --color-support3: rgb(25, 24, 24);
  --color-support4: rgb(43, 131, 123);
  --color-support5: rgb(99, 221, 211);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  width: 120%;
  height: 120%;
}

@keyframes swipe {
  0% {
    transform: translateX(-150%) skewX(-30deg);
    opacity: 1;
  }

  100% {
    transform: translateX(350%) skewX(-30deg);
    opacity: 0;
  }
}

.icon-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 0px rgba(82, 251, 237, 0);
  transform: scale(1);
}

.icon-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(8px);
  transform: translateX(-150%) skewX(-30deg);
  transition: none;
  opacity: 1;
  z-index: 2;
}

.icon-wrapper:hover::before {
  animation: swipe 1.2s ease-out forwards;
}

.icon-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 1px rgb(82 251 237);
}